        body {
         font-family:'Open Sans', sans-serif;
        }
        h1 ,h2 ,h3{
            font-family: 'Montserrat', sans-serif;
        }

        .nav-link:hover{
            text-decoration: underline 2px solid rgb(45, 96, 190);
            text-underline-offset: 8px;
        }
        .reach-out{
            text-decoration :none;
        }
        .reach-out:hover ,#seeAll:hover{
            text-decoration: underline 2px solid rgb(45, 96, 190);
            text-underline-offset: 8px;
        }
        .submit{
            background-color: rgb(143, 143, 143);
        }
        .bg-light{
            background-color: rgba(31, 33, 36,1) !important;
        }
        .bg-dark{
            background-color: rgb(13,17,18) !important;
        }
        .text{
            color:rgb(202, 200, 200);
        }
        .project-container{
            border: 1px solid #5a5a5a5c;
            position: relative;
            overflow: hidden;
        }
        .project-container:hover{
            background-color:rgb(32, 33, 36);
        }
        #projects .project-container:hover{
            background-color:rgb(61, 62, 65) ;
        }
        #projects .project-container img{
            transition: 0.2s ease-in-out;
        }
        #projects .project-container:hover img{
            transform: scale(1.02);
        }
        .content-sticky{
            position: sticky;
            top: 25px;
        }
        ul{
            list-style: none;
        }
        .tech-list{
            border: 1px solid #d7d7d75c;
            border-radius: 9999px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 3px;
        }
        img{
            max-width:100%;
            height: auto;
        }
        #seeAll{
            color: white;
            text-decoration: none;
            text-align:center;
        }
        #seeAllButton{
            color:white;
            text-decoration: none;
            border: 1px solid rgb(45, 96, 190);
        }
        #seeAllButton:hover ,.submit:hover{
            background-color: rgb(45, 96, 190);
        }
        .d-grid{
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        .view-btn{
            border: 1px solid rgb(45, 96, 190);
            background-color:rgb(45, 96, 190);
            text-decoration: none;
            color:white;
        }
        .view-btn:hover{
            color: white;
        }
        .content a{
            text-decoration: none;
            color: white;
        }
        .content a:hover{
            color:rgb(45, 96, 190);
        }

        @media screen and (max-width: 600px) {
            .w-75{
                width: 100% !important;
            }
            .menu-drop{
                width: 30%;
            }
            .fs-1 ,h1{
                font-size: 36px !important;
            }
            .d-grid{
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }
            .content{
                display: none;
            }
        }